.blocks
{
	display: flex;
	margin: -.5rem 0;
	flex-wrap: wrap;
	justify-content: center;
}
.blocks > .block
{
	min-width: 24rem;	
	background-color: #36393f;
	border-radius: 5px;
	margin: .5rem;
	padding: 2rem;
	text-align: center;
	border: 1px solid transparent;
	box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}
.blocks > .block h2
{
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	margin: 0 0 .5rem;
}
.blocks > .block p
{
	text-align: center;
	display: block;
	margin-top: .25rem;
	line-height: 1rem;
	font-size: .75rem;
	color: rgba(255, 255, 255, .4);
}